@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header {
    background-color: #838282;
}
header > h1 {
    text-align: center;
}
menu ul {
    list-style-type: none;
    background-color: #808080;
}
menu li {
    background-color: #776f6f;
    color: white;
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}
/*estilos para telas*/