@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    font-family: 'poppins'sans-serif;
}
header {
    text-align: center;
    padding: 30px;
    background-color: black;
    color: white;
}
header h1 {
    font-size: 3em;
}
header a {
    text-decoration: none;
    color: white;
    padding: 5px;
}
header a:hover {
    color: white;
}
 section > p {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    min-width: 11%;
    max-width: 25%;
    line-height: 2.0;
}
section {
    padding-bottom: 20px;
}
.imagem {
    background-image: url(imagens/background001.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p .imagem {
    text-align: center;
    background-attachment: scroll;
}
.imagem01 {
    background-image: url(imagens/background002.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p .imagem {
    background-attachment: scroll;
}
.fundo {
    margin-top: 5px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 0px 1px 0px black;
}






footer {
    text-align: center;
    color: white;
    padding: 6px;
    background-color: black
}
footer a {
    text-decoration: none;
    color: white;
}
